.mode_option {
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background: #524A4A;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: #be8a67;
  }
}

.mode_option + .mode_option {
  margin-left: 30px;
}