.messages_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 70px 10px 0;
  background-color: #655C5D;
}

.messages {
  overflow: scroll;
  height: 90vh;
  padding-bottom: 20px;
}