.message {
  display: flex;
  align-items: center;
  padding: 0 60px;

  .avatar {
    width: 50px;
  }

  .username {
    color: #fff;
  }

  .sentence {
    position: relative;
    width: fit-content;
    max-width: 300px;
    padding: 20px;
    margin-left: 20px;
    color: #fff;
    background-color: #524B4B;
    border-radius: 14px;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 15px;
      right: 100%;
      background-color: #524B4B;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }

    img {
      width: 100%;
    }
  }

  .time {
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    align-self: flex-end;
  }
}


.message.self {
  flex-direction: row-reverse;
  .avatar, .username {
    display: none;
  }

  .sentence {
    &::before {
      left: 100%;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
}

.message + .message {
  margin-top: 20px;
}

.system_message {
  width: fit-content;
  padding: 2px 10px;
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
  color: rgb(214, 213, 213);
  background-color: rgba(#fff, 0.2);
  border-radius: 8px;
}