
.mode_page_title {
  text-align: center;
  margin: 90px 0;
  letter-spacing: 2px;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_button {
  position: absolute;
  width: 15px;
  right: 13px;
  top: 13px;
  cursor: pointer;
}