.room_settings {
  text-align: center;

  input {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
  }

  button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
  }

  button +  button {
    margin-left: 5px;
  }
}